@import './base.css';

#app {
	/* max-width: 1980px; */
	margin: 0 auto;
	padding: 1rem;
	/* font-weight: normal; */
}

body {
	display: flex;
	/* place-items: center; */
	/* overflow-y: hidden; */
}

@media (min-width: 1400px) {
	body {
		zoom: 1.5;
	}
	#app {
		/* display: grid; */
		/* grid-template-columns: 1fr 1fr;
		padding: 0 2rem; */
	}
}
@media (min-width: 1900px) {
	body {
		zoom: 1.9;
	}
}
